dist: trusty
git:
  # use depth 2 just in case two refs get pushed at once (like a tag)
  depth: 2
language: ruby
cache: bundler
bundler_args: --path=.bundle/gems
rvm:
- &release_ruby 2.6.2
- 2.5.5
- 2.4.5
- 2.3.8
- jruby-9.2.6.0
- jruby-9.1.17.0
env:
  global:
  # use system libraries to speed up installation of nokogiri
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
script: bundle exec asciidoctor-epub3 -D . data/samples/sample-book.adoc
deploy:
  provider: rubygems
  gem: asciidoctor-epub3
  api_key: ${RUBYGEMS_API_KEY}
  on:
    tags: true
    repo: asciidoctor/asciidoctor-epub3
    rvm: *release_ruby
