// =========================
// === setup the palette ===
// =========================

// deep-gray: what about 40403E or 4C4C4B? for h4
// lighter-gray: what about DEDEDC instead of DCDCDE?

$black =              #191918
$off-black =          #333332
$tuatara-gray =       #40403E
$deep-gray =          #4F4F4C
$dark-gray =          #666665
$friar-gray =         #7F7F7D
$medium-gray =        #80807F
$gray =               #B3B3B1
$nobel-gray =         #B3B3B3
$bit-lighter-gray =   #BEBEBC
$alto-gray =          #DFDFDF
$quill-gray =         #D0D0CF
$lighter-gray =       #DCDCDE

$off-white =          #F2F2F2
$lighter-off-white =  #F7F7F7
$papaya-white =       #FFF0D4
$white =              #FFFFFF

$mahogany-red =       #C83737
$flamingo-orange =    #F2642A
$light-yellow =       #FFC14F
$beauty-pink =        #F1CECE
$cinderella-pink =    #FCD9CA

$green =              #57AD68
$medium-green =       #468C54
$light-green =        #A9D8B2

/* type scale::
 * 50 2.27
 * 32 1.45
 * 30 1.36
 * 24 1.1
 * 22 1 */

// =========================
// === assign the colors ===
// =========================

$body-text = $off-black

// white bg disables night mode in Aldiko, hoo-ha!
$body-background = $white

$header-text = $off-black
$h4-header-text = $deep-gray
$h5-header-text = $dark-gray

$chapter-header-background = $off-black
$chapter-header-title-text = $gray
$chapter-header-title-border = $lighter-gray
$chapter-header-subtitle-text = $white

$chapter-header-em = $green
$chapter-header-byline = $lighter-gray

$link-text = $off-black
$link-border = $dark-gray
$link-visited-text = $dark-gray
$link-first-background = $dark-gray

$blockquote-text = $black
$para-first-text = $dark-gray

$list-lvl1 = $dark-gray
$list-lvl2 = $green
$list-lvl3 = $dark-gray
$list-lvl4 = $green

$footer-context = $dark-gray

$abstract-text = $dark-gray
$abstract-link = $dark-gray

$caption-text = $dark-gray

$aside-background = $off-white
$aside-border = $gray

$aside-header-background = $white

$button-text = $black
$button-shadow = $gray

$pre-text = $black
// matches what Kindle uses and can't go less
$pre-background = $off-white
// QUESTION $gray?
$pre-border = $lighter-gray

$kbd-background = $lighter-off-white
$kbd-border = $bit-lighter-gray

$mark-text = $black
$mark-background = $light-yellow

$last-mark-text = $green

$i-conum-text = $medium-green

$table-border = $medium-gray

$note-border = $light-yellow
$note-background = $papaya-white

$tip-border = $tuatara-gray
$tip-background = $quill-gray

$caution-border = $friar-gray
$caution-background = $alto-gray

$warning-border = $mahogany-red
$warning-background = $beauty-pink

$important-border = $flamingo-orange
$important-background = $cinderella-pink

$about-author-border = $nobel-gray
$headshot-border = $medium-gray
